<div class = "form-control form-label">
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
</div>

<%= link_to "ðŸ ", tasks_path, type: "button", class: "btn btn-primary" %>
